@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f2;
  --foreground: #000000;
  --accent: #0d1527;
  --accent-hover: #131f3c;
  --sidenav-bg: var(--accent);
  --foreground-white: var(--background);
  --table-background: #ffffff;
  --table-border: #e3e3e3;
  --table-hover:#e3e3e3;
}

body {
  @apply text-base;
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply !text-2xl
}
h2 {
  @apply !text-xl
}

section {
  @apply mb-3
}