@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-base;
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply text-2xl
}

section {
  @apply mb-3
}

table {
  @apply rounded;
  @apply overflow-hidden;
  
  thead > tr {
    td, th {
      @apply bg-gray-900;
      @apply border-b-gray-800 border-b-4;
      @apply p-4 py-3;
      @apply font-semibold text-gray-500;
    }
  }
  
  tbody > tr:nth-child(2n) {
    td, th {
      @apply bg-gray-800;
      @apply hover:bg-gray-700;
    }
  }

  tbody > tr {

    td, th {
      @apply text-center;
      @apply bg-gray-900;
      @apply hover:bg-gray-800;
      @apply p-4;
    }
  }
}